* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

main{

    padding: 10px;
    width: 60%;
    margin: 0 auto;
    height: 100vh;
}

.titolo{
    display: flex;
    justify-content:space-between;
    

}

.titolo h1{
    display: inline;
}

/* .grill-container{ */
    /* background-color: #7FFFD4; */
    /* margin-top: 20px; */
/*  */
/* } */
.griglia{
    padding: 30px;
    margin-block: 10px;
    /* width: 80%; */
    /* margin: 0 auto; */
    display: flex;
    flex-wrap: wrap;
    background-color: #7FFFD4;
    padding-inline: 100px;
    
}

.box{
    border: 1px solid black;
    aspect-ratio: 1;
    flex-basis: calc(100% / 10);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{
    background-color: navy;
    color: white;
}