* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

main{

    padding: 10px;
    width: 60%;
    margin: 0 auto;
    height: 100vh;
}

.titolo{
    display: flex;
    justify-content:space-between;
    

}

.titolo h1{
    display: inline;
}

.grill-container{
    background-color: #7FFFD4;
    margin-top: 20px;

}
.griglia{
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.box{
    border: 1px solid black;
    aspect-ratio: 1;
    flex-basis: calc(100% / 10);
    color: black;
}

.active{
    background-color: navy;
    color: white;
}